* {
  font-family: monospace;
}

input {
  width: 100%;
  font-size: 1.2rem;
  color: gray;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  overflow: hidden;
  margin: 10px 10px;
}

.card p{
  text-align: center;
}
